<div class="container contact-form justify-content-center">
  <div class="contact-image">
    <img src="../../assets/images/logo.png" alt="NJ Basketball Academy" title="NJ Basketball Academy" />
  </div>
    <form>
        <h3 class="text-center mb-3">say something</h3>
       <div class="row">
         
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
          </div>
          <div class="form-group">
            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
          </div>
          <div class="form-group">
            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="form-group">
            <button type="submit" name="btnSubmit" class="btn btn-success">Send Message</button>
          </div>
        </div>
      </div>
    </form>
</div>