<div class="container-fluid p-0">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="bd-placeholder-img" style="background-image: url(../../assets/images/bb-1.jpg);"></div>
      </div>
      <div class="carousel-item">
        <div class="bd-placeholder-img" style="background-image: url(../../assets/images/bb-2.jpg);"></div>
      </div>
      <div class="carousel-item">
        <div class="bd-placeholder-img" style="background-image: url(../../assets/images/bb-3.jpg);"></div>
      </div>
      <div class="carousel-item">
        <div class="bd-placeholder-img" style="background-image: url(../../assets/images/bb-4.jpg);"></div>
      </div>
      <div class="carousel-item">
        <div class="bd-placeholder-img" style="background-image: url(../../assets/images/bb-5.jpg);"></div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
